.anim
{
    animation:myfirst 5s;
    -moz-animation:myfirst 5s infinite; /* Firefox */
    -webkit-animation:myfirst 5s infinite; /* Safari and Chrome */
}


@-moz-keyframes myfirst /* Firefox */
{
    0% {background: rgba(228, 233, 236, 0.95)}
    50%   {background:rgba(221, 224, 229, 0.95)}
    100% {background: rgba(228, 233, 236, 0.95)}
}

@-webkit-keyframes myfirst /* Safari and Chrome */
{
    0% {background: rgba(228, 233, 236, 0.95)}
    50%   {background:rgba(221, 224, 229, 0.95)}
    100% {background: rgba(228, 233, 236, 0.95)}
}