/*main.css*/

body
{
    background-image: url(../img/lottery-balls.jpg);
}

/*font*/
body
{
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

a
{
    text-decoration: none;
    color:dimgrey;
}

h1
{
    color: #111;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 2em; font-weight: bold;
    letter-spacing: -1px; line-height: 1;
    text-align: center;
}

h2
{
    color: #111;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3em; font-weight: 300;
    line-height: 32px;
    margin: 0 0 72px;
    text-align: center;
}

p
{
    color: #685206;
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 24px;
    text-align: justify;
    text-justify: inter-word;
}

/*INNE*/

#background-img
{
    position:fixed;
    width: 100%;
    min-height: 100%;
    min-width: 800px;
    z-index:-1;
}

.blur
{
    filter:blur(4px);
    -ms-filter:blur(4px);
    -webkit-filter:blur(4px);
}

/*Main containers:*/
#top
{
    margin-top:18px;
    text-align: center;
    background-image: url(../img/lotto-balls-banner.jpg);
    background-size: cover;
}

#mid
{
    text-align: center;
}

#bot
{
    position:fixed;
    bottom:0;
    height:30px;
    line-height: 30px;
    width:100%;
    text-align: right;
    vertical-align: middle;

    background: rgba(227, 232, 235, 1.0);
}

#logo_container
{
    text-align: left;
}
/*Menu:*/
#menu_bar
{
    display: inline-block;

    padding: 5px 25px 5px 25px;
    margin: 0 auto;
    min-width: 50%;
    min-height: 30px;

    background: rgba(227, 232, 235, 1.0);
    text-align: center;
    border-radius: 0px 0px 100px 100px;

    font-size: 24px;
    overflow: visible;

}

.menulink
{
    text-decoration: none;
    color:black;
}

/*Mid:*/
#midcontainer
{
    margin-left: auto;
    margin-right: auto;
    margin-top: 21px;
    padding-bottom: 21px;
    min-width:400px;
    max-width:50%;
    border: 7px solid rgba(227, 232, 235, 1.0);
    border-radius: 18px;

    background: rgba(255, 207, 47, 0.55);
    font-size: 24px;
}

/*Stopka*/
.botspan
{
    font-size: 24px;
    padding-left:33px;
    padding-right:33px;
}

#copyright
{

}

/*------------Graj*/
#graj_div
{

}